* {
  margin: 0;
  padding: 0;
  text-align: center;
}
h1 {
  background-color: #3c3e41;
  color: #fff;
  height: 5rem;
  line-height: 5rem;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  cursor: pointer;
  background-color: rgb(17, 2, 2);
  border-radius: 1rem;
}

img {
  height: 160px;
  width: 160px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}

.msg-container {
  margin-top: 4rem;
}

#msg {
  background-color: #303842;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}

#msg:hover {
  background-color: lightblue;
  color: black;
}

#comp-score {
  font-size: 3rem;
}

#user-score {
  font-size: 3rem;
}
